<template>
  <div>
    <b-modal
      id="modal-form-customer"
      ref="modal-form-customer"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input id="address" v-model="form.address" required></b-form-input
        ></b-form-group>
        <b-form-group
          label="Dob"
          label-for="dob"
          :invalid-feedback="invalidFeedbackDob"
          :valid-feedback="validFeedbackDob"
          :state="stateDob"
        >
          <b-form-input id="dob" v-model="form.dob" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Gender"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select
        ></b-form-group>

        <b-form-group
          label="Mobile"
          label-for="mobile"
          :invalid-feedback="invalidFeedbackMobile"
          :valid-feedback="validFeedbackMobile"
          :state="stateMobile"
        >
          <b-form-input
            id="mobile"
            v-model="form.mobile"
            required
          ></b-form-input
        ></b-form-group>

        <b-form-group
          label="Email"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input
        ></b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="customerList" :fields="fields">
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      },
      customerList: [],
      fields: [
        '_id',
        'name',
        'address',
        'dob',
        'gender',
        'mobile',
        'email'
      ]
    }
  },
  methods: {
    /* eslint-disable */ 
    getCustomers () {
      axios
        .get('http://localhost:8080/customersPro/')
        .then(res => {
          console.log(res)
          this.customerList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
     currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getCustomers()
     if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
}
</script>
