<template>
  <div>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Login"
          label-for="login"
          :invalid-feedback="invalidFeedbackLogin"
          :valid-feedback="validFeedbackLogin"
          :state="stateLogin"
        >
          <b-form-input id="login" v-model="form.login" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="password"
          label-for="password"
          :invalid-feedback="invalidFeedbackpassword"
          :valid-feedback="validFeedbackpassword"
          :state="statepassword"
        >
          <b-form-input
            id="password"
            v-model="form.password"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Status"
          label-for="status"
          :invalid-feedback="invalidFeedbackStatus"
          :valid-feedback="validFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-select
            id="status"
            v-model="form.status"
            :options="StatusOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
/* eslint-disable */
export default {
  data () {
    return {
      form: {
        _id: '',
        login: '',
        password: '',
        status: false
      },
      constructor () {
        ;(this._id = ''),
          (this.login = ''),
          (this.password = ''),
          (this.status = false)
      },
      userList: [],
      fields: ['login', 'password', 'status']
    }
  },
  methods: {
    resetModal () {
      this.form = {
        _id: '',
        login: '',
        password: '',
        status: false
      }
    },
    getusers () {
      axios
        .get('http://localhost:8080/admins')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted () {
    console.log ('Vue component is mounted.')
    this.getusers()
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
}
</script>
