<template>
  <div>
   
          <router-link to="/UserUser" class="nav-link">
            <font-awesome-icon icon="UserUser" />Users
          </router-link>
       
       
          <router-link to="/ProductUser" class="nav-link">
            <font-awesome-icon icon="ProductUser" />Product
          </router-link>
     
        
          <router-link to="/CustomerUser" class="nav-link">
            <font-awesome-icon icon="CustomerUser" />Customer
          </router-link>
       
  </div>

</template>

<script>
import UserService from '../services/user.service';


export default {
  name: 'User',
  data() {
    return {
      content: ''
    };
  },
  mounted() {
    UserService.getUserBoard().then(
      response => {
        this.content = response.data;
      },
      error => {
        this.content =
          (error.response && error.response.data && error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>
