<template>
  <div>
    
    <b-nav vertical class="w-25">
      <b-nav-item><router-link to="/home">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/ProductPro">Product</router-link></b-nav-item>
      <b-nav-item><router-link to="/CustomerPro">Customer</router-link></b-nav-item>
      <b-nav-item><router-link to="/UserProject">Users</router-link></b-nav-item>
    </b-nav>
  </div>
</template>