<template>
  <div>
     <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="b-table"
    ></b-pagination>
 </div>
   <p class="mt-3">Current Page: {{ currentPage }}</p>

    <b-button variant="success" class="float-right" @click="addNewuser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Login"
          label-for="login"
          :invalid-feedback="invalidFeedbackLogin"
          :valid-feedback="validFeedbackLogin"
          :state="stateLogin"
        >
          <b-form-input id="login" v-model="form.login" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="password"
          label-for="password"
          :invalid-feedback="invalidFeedbackpassword"
          :valid-feedback="validFeedbackpassword"
          :state="statepassword"
        >
          <b-form-input
            id="password"
            v-model="form.password"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Status"
          label-for="status"
          :invalid-feedback="invalidFeedbackStatus"
          :valid-feedback="validFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-select
            id="status"
            v-model="form.status"
            :options="StatusOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields" :per-page="perPage"
      :current-page="currentPage" >
      <template v-slot:cell(operation)="data">
        <b-button @click="edituser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="deluser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
/* eslint-disable */
export default {
  data () {
    return {
      perPage: 5,
      currentPage: 1,
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        _id: '',
        login: '',
        password: '',
        status: false
      },
      constructor () {
        (this._id = ''),
          (this.login = ''),
          (this.password = ''),
          (this.status = false)
      },
      StatusOptions: [
        { text: 'Select One', value: null },
        { value: 'false', text: 'false' },
        { value: 'true', text: 'true' }
      ],
      userList: [],
      fields: ['login', 'password', 'status', 'operation']
    }
  },
  methods: {
    addNewuser () {
      this.add = true
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    edituser (user) {
      this.add = false
      console.log('Edit' + user)
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.$bvModal.show('modal-form-user')
      this.form = { ...user }
    },
    deluser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.login + ' หรือไม่!!!', {
          title: 'กรุณายื่นยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteuser(user)
            //  userService.deleteuser(user)
            axios
              .delete('http://localhost:8080/admins/' + user._id)
              .then(res => {
                console.log(res)
                this.getusers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        login: '',
        password: '',
        status: false
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      console.log(this.add)
      if (this.add === false) {
        // this.updateuser(this.form)
        // userService.updateuser(this.form)
        axios
          .put('http://localhost:8080/admins/', this.form)
          .then(res => {
            console.log(res)
            this.getusers()
          })
          .catch(err => {
            console.log(err)
          })
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-user')
        })
      } else {
        // this.adduser(this.form)
        // userService.adduser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:8080/admins/', this.form)
          .then(res => {
            console.log(res)
            this.getusers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getusers () {
      axios
        .get('http://localhost:8080/admins')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    rows() {
        return this.userList.length
      },
    currentUser() {
      return this.$store.state.auth.user;
    },
    stateLogin () {
      return this.form.login.length >= 2
    },
    invalidFeedbackLogin () {
      if (this.form.login.length > 2) {
        return ''
      } else if (this.form.login.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackLogin () {
      return this.statelogin === true ? 'สำเร็จ' : ''
    },
    statepassword () {
      return this.form.password >= 2
    },
    invalidFeedbackpassword () {
      if (this.form.password > 2) {
        return ''
      } else if (this.form.login.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่รหัส'
      }
    },
    validFeedbackpassword () {
      return this.statepassword === true ? 'สำเร็จ' : ''
    },
    stateStatus () {
      return this.form.status != null
    },
    invalidFeedbackStatus () {
      if (this.form.status != null) {
        return ''
      } else {
        return 'กรุณาใส่สถานะ'
      }
    },
    validFeedbackStatus () {
      return this.stateStatus === true ? '' : ''
    }
  },
  mounted () {
    console.log ('Vue component is mounted.')
    this.getusers()
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
}
</script>
