<template>
  <div>
    <b-modal
      id="modal-form-product"
      ref="modal-form-product"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Price:"
          label-for="price"
          :invalid-feedback="invalidFeedbackPrice"
          :valid-feedback="validFeedbackPrice"
          :state="statePrice"
        >
          <b-form-input id="price" v-model="form.price" required></b-form-input
        ></b-form-group>

        <b-form-group
          label="Cost:"
          label-for="cost"
          :invalid-feedback="invalidFeedbackCost"
          :valid-feedback="validFeedbackCost"
          :state="stateCost"
        >
          <b-form-input id="cost" v-model="form.cost" required></b-form-input
        ></b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="productList" :fields="fields">
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import productService from './productService'
/* eslint-disable */
export default {
  data () {
    return {
      form: {
        _id: '',
        name: '',
        price: null,
        cost: null
      },

      productList: [],
      fields: ['name', 'price', 'cost']
    }
  },
  methods: {
    getproducts () {
      // this.productList = productService.getproducts()
      axios
        .get('http://localhost:8080/products')
        .then(res => {
          console.log(res)
          this.productList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
     currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getproducts()
     if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
}
</script>
